<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
<h2>Панель администратора</h2>
<p>Выберите необходимое действие</p>

<ul>
    <li>
        <p>Список записей на курсы (<a
                href="/admin-panel/admin/enrollment_data"
        >скачать</a>) (<a
                href="/admin-panel/admin/enrollment_data/graph"
                target="_blank"
        >открыть график</a>)</li>
    <a href="/admin-panel/admin/users"><li>Список зарегистрированных пользователей (скачать)</li></a>
</ul>
</body>
</html>