<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админ-панель</title>
</head>
<body>
<h2>Админ-панель</h2>
<p>Выберите необходимое действие</p>

<ul>
    <a href="/admin-panel/admin/enrollment_data"><li>Список записей на курсы</li></a>
</ul>
</body>
</html>