<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
</head>
<body>
<h2>Панель администратора</h2>
<p>Выберите необходимое действие</p>

<ul>
    <a href="/admin-panel/admin/enrollment_data"><li>Список записей на курсы (скачать)</li></a>
    <a href="/admin-panel/admin/users"><li>Список зарегистрированных пользователей (скачать)</li></a>
</ul>
</body>
</html>